*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
data
depth_mask
invdepth
colmap_bak
data1
data2
output
other
data2_less